# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.csv

*.json
test.cpp
Arduino-SD-for-PC/
Arduino-Cores-for-PC/
Makefile
test
Arduino-Adafruit-Sensor-for-PC/
C-CSV-Parser/